* {
    box-sizing: border-box;
    text-decoration: none;
}
.test{
    background-color: grey
}
.hero{
    float: right;
    margin-right: 30%;
}
h1{
    font-size: 30px;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
.navContainer {
    border: none;
    display: flex;
    justify-content: center;
}
.fa {
    padding: 0 20px 0px 20px;
    color: #2c6635;
}
.fa:hover {
    color: black
}
.tabArea {
    margin: 25px 43px 0 43px;
    width: 100%;
}
.tabContainer {
    width: 30%;
    display: inline-block;
}
.tab {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    letter-spacing: 5px;
    width: 32%;
    height: 35px;
}
.about-me {
    background-color: #a6a6a6;
    
}
.project1 {
    background-color: #3F3F3F;
    color: #C0C0C0;
    margin-left: .01%;
    margin-right: .01%;
}
.project2 {
    background-color: black;
    color: #F1F1F1;
}
.text-head {
    margin-top: 8px;
    margin-bottom: 0;
}
.text-head:hover {
    color: red;
}
@media only screen and (max-width:1000px) {

    .tabArea {
        margin-top: 0px;
    }
    .tab-head {
        font-size: 12px;
        margin-top: 10px;
    }
    .fa {
        padding-left: 9%;
    }
}
@media only screen and (max-width:800px) {
    .tab-head {
        font-size: 9px;
    }
    .tabContainer {
        width: 100%;
        display: inline-block;
    }
    .tabArea {
        margin-bottom: -2px;
    }
    .fa {
        font-size: 2em;
    }
}
@media only screen and (max-width:600px) {
    .tab {
        height: 30px;
    }
    .tabArea{
        margin-top: 20px;
    }
    .tab-head {
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .fa {
        font-size: 1em;
        padding-left: 8.5%;
    }
}
@media only screen and (max-width:480px) {
    .tab {
        height: 25px;
    }
    .tabArea {
        margin-bottom: -1px;
        margin-top: 10px;
    }
    .tab-head {
        font-size: 8px;
        margin-top: 8px;
    }
    .fa {
        padding-left: 8%;
    }
}
